body, html {
  margin: 0;
  padding: 0;
  background-color: #160415;
  font-family: 'Oswald', sans-serif;
  color: #696969;
}
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h2 {
  font-size: 2.5rem;
  color: #696958;
}

a {
  text-decoration: none;
  color: aquamarine;
  transition: color 0.5s;
  &:hover {
    color:aqua;
  }
}

.wakatime {
  max-width: 250px;
  width: 100%;
}